html {
  scroll-behavior: smooth;
}
/*Переменные*/
:root {
  --button-primary-color: #2196f3;
  --logo-first-color: #2196f3;
  --black-logo-color: #212121;
  --logo-white-color: #ffffff;
  --text-grey-color: #757575;
  --button-background-color: #f5f4fa;
  --footer-backgroung-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --command-backgroung-color: #f5f4fa;
}
Body {
  background-color: white;
  font-family: Roboto sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
}
/*HEADER sections*/
.nav {
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-first-color);
}
.logo-span {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-logo-color);
}
.nav-list {
}
.nav-item {
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-logo-color);
}
.nav-link:focus,
.nav-link:hover {
  background-color: var(--logo-white-color);
  color: var(--button-primary-color);
}
.current {
  background-color: var(--logo-white-color);
  color: var(--button-primary-color);
}
.nav-contact {
}
.nav-contact-item {
}
.nav-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-grey-color);
}
.nav-contact-link:focus,
.nav-contact-link:hover {
  background-color: var(--logo-white-color);
  color: var(--button-primary-color);
}
.hero-section {
  background-color: var(--footer-backgroung-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--logo-white-color);
}
.primary-button {
}
/*Reasons sections*/
.reasons {
}
.reasons-list {
}
.reasons-item {
}
.reasons-text {
}
/*Specific sections*/
.specific {
}
.specific-title {
}
.specific-list {
}
.specific-item {
}
/*Command Sections*/
.command {
}
.command-title {
}
.command-list {
}
.command-item {
}
.command-name {
}
.command-prof {
}
/*MAIN PORTFOLIO SECTION*/
.work {
}
.work-list {
}
.work-item {
}
.work-button {
}
.button {
}
.gallery-list {
}
.gallery-item {
}
.gallery-title {
}
.text-gallery {
}
/*Footer sections*/
.footer {
}
.logo-footer {
}
.span-footer {
}
.address {
}
.adress-list {
}
.adress-item {
}
.adress-link {
}
